* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  height: 80vh;
  padding: 2%;
  margin: auto;
  margin-top: 7%;
  width: 500px;
  background-color: rgb(225, 183, 128);
  border-radius: 10px;
  text-align: center;
}
h2,
h3,
h4 {
  margin-bottom: 3%;
}

.top-container input {
  /* display: flex; */
  /* flex-grow: 1; */
  width: 100px;
  border-radius: 5px;
  padding: 1.5% 0;
  text-align: center;
  margin-bottom: 6%;
}
.tip-container h4 {
  font-size: 30px;
}

.tip-container button,
input {
  padding: 2%;
  border-radius: 5px;
  border: 3px solid;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 3%;
}

.tip-container input {
  padding: 2%;
  width: 100px;
}
.person-container {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  margin: 3% 10%;
  height: 4vh;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(231, 206, 146);
}
.person-container button {
  padding: 0 4%;
  border: 2px solid rgb(54, 45, 45);
  border-radius: 5px;
  
  background-color: peachpuff;

}
.person-container span{
  padding-top: 1%;
  font-size: 20px;
  font-weight: 400;
}

.roundup-button{
  padding: 3%;
  border-radius: 5px;
}

.bill-container {
  margin-top: 3%;
  width: 300px; 
  margin-left: 15%; 
  border: 2px solid gray; 
  padding: 5%;    
  border-radius: 10px; 
  background-color: aqua;     
}

.bill-container p {
  display: flex;
  justify-content: space-between;   /* pushes text apart */
  margin: 10px 0;
  border-bottom: 3px solid beige;
  padding-bottom: 10px;
}